@import "../../Style/include-media";
.logo{
  position: relative;
  width: 400px;
  float: left;
  @include media("<tablet-x"){
    width: 270px;
  }


  a{
    display: block;
  }

  img{
    display: block;
    width: 100%;
    height: auto;
  }
}