@import "../../Style/include-media";
.banner {
    position: relative;

    .BannerBox {
        height: 100vh;
        width: 100%;
        position: relative;
        @include media("<tablet-x"){
            height: auto !important;
        }

        [class*="imgBox"] {
            height: 100vh;
            @include media("<tablet-x"){
                height: unset !important;
                img{
                height: 400px !important;
                }
            }
            img{
                height: 100vh;
                object-fit: cover;
            }
        }
    }
}

.counterBox {
    position: absolute;
    right: 100px;
    bottom: 0;
    z-index: 1;
    @include media("<tablet-x"){
        position: relative;
        right: unset;
        bottom: unset;
        padding: 30px 0;

        ul{
            flex-wrap: wrap;
            gap: 10px;
            li{
                min-width: 250px;
                height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 20px !important;
                p{
                    font-size: 24px !important;
                }

            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;

        li {
            flex: 0 0 25%;
            padding: 30px 20px;
            &:nth-child(1) {
                background-color: #AAD8E0;
            }

            &:nth-child(even) {
                background-color: #44A7E4;
            }

            &:nth-child(3) {
                background-color: #0077c0;
            }

            h3 {
                color: #fff;
                font-size: 24px;
                @include media("<desktop"){
                    font-size: 22px;
                }

            }
            p{
                font-size: 3em;
                line-height: 1.7em;
                font-weight: bold;
                color: orangered;
                margin-bottom: 0;
            }
        }
    }
}